.logo a {
  display: block;
  background: url('./../assets/images/logo-white.png') no-repeat center / contain;
  width: 80px;
	height: 72px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}
