<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>部落格 | 眼鏡官網</title>
    <%- include('./layout/stylesheets'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <nav class="d-none d-md-block bg-secondary py-3 py-md-2">
      <div class="container d-flex justify-content-between align-items-center">
        <ul class="d-flex flex-grow-1 justify-content-between justify-content-md-start fs-md-8 fw-bold">
          <li class="me-md-11">
            <a href="#" class="d-block link-white">最新消息</a>
          </li>
          <li class="me-md-11">
            <a href="#" class="d-block link-white">特別企劃</a>
          </li>
          <li class="me-md-11">
            <a href="#" class="d-block link-white">新品上市</a>
          </li>
          <li>
            <a href="#" class="d-block link-white">鏡框小知識</a>
          </li>
        </ul>
        <a href="#" class="d-none d-md-block link-white"><span class="material-icons d-block fs-4">search</span></a>
      </div>
    </nav>
    
    <div class="container pt-10 pt-md-15 pt-lg-16 pb-14 pb-md-15">
      <h2 class="fs-7 fs-md-2 mb-6 mb-md-10 mb-lg-8 ps-4 border-start border-8 border-primary">部落格</h2>
      <div class="mb-14 mb-md-15 mb-lg-17">
        <!-- 1 -->
        <%- include('./pages/blog-list-item', {title: '情人特別企劃', subtitle: '2020 Valentine’s Special', date: '2020/02/14', img: 'blog-1.png', ifLast: false}); -%>
        <!-- 2 -->
        <%- include('./pages/blog-list-item', {title: '街頭潮人訪問', subtitle: 'Street Interview', date: '2020/02/02', img: 'blog-2.png', ifLast: false}); -%>
        <!-- 3 -->
        <%- include('./pages/blog-list-item', {title: '春季新品上市', subtitle: 'New Selection', date: '2020/02/02', img: 'blog-3.png', ifLast: false}); -%>
        <!-- 4 -->
        <%- include('./pages/blog-list-item', {title: '設計師獨享鏡框優惠', subtitle: 'Sales for Designer', date: '2020/01/18', img: 'blog-4.png', ifLast: false}); -%>
        <!-- 5 -->
        <%- include('./pages/blog-list-item', {title: '抵抗夏日大作戰', subtitle: 'Summer Special', date: '2019/08/07', img: 'blog-5.png', ifLast: true}); -%>
      </div>

      <!-- pagination -->
      <%- include('./pages/pagination'); -%>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
