<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁 | 眼鏡官網</title>
    <%- include('./layout/stylesheets'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 看得清，才能看得遠 -->
    <div class="banner">
      <div class="container text-secondary text-end py-18 py-md-19">
        <h3 class="fs-10 fs-md-5 fw-normal">Promise-Desert 2020 早春系列</h3>
        <h2 class="fs-7 fs-md-1 fw-bold mb-2 mb-md-1">看得清，才能看得遠</h2>
        <a href="#" class="btn btn-primary fs-8 fw-medium">立即購買</a>
      </div>
    </div>

    <!-- 用專業的心，做專業的事 -->
    <div class="bg-pink">
      <div class="container py-10 py-md-15">
        <h2 class="fs-7 fs-md-2 text-secondary text-center mb-6 mb-lg-11">用專業的心，做專業的事</h2>
        <ul class="row gy-6 gy-lg-0">
          <li class="col-md-6 col-lg-3">
            <div class="text-center">
              <img src="./../assets/images/home-section2-1.png" alt="單一價格" class="w-100px mb-4">
              <h3 class="fs-7 fw-bold text-secondary mb-2">單一價格</h3>
              <p class="text-start">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
          </li>
          <li class="col-md-6 col-lg-3">
            <div class="text-center">
              <img src="./../assets/images/home-section2-2.png" alt="20 分鐘即可取件" class="w-100px mb-4">
              <h3 class="fs-7 fw-bold text-secondary mb-2">20 分鐘即可取件</h3>
              <p class="text-start">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </div>
          </li>
          <li class="col-md-6 col-lg-3">
            <div class="text-center">
              <img src="./../assets/images/home-section2-3.png" alt="安心售後服務" class="w-100px mb-4">
              <h3 class="fs-7 fw-bold text-secondary mb-2">安心售後服務</h3>
              <p class="text-start">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </div>
          </li>
          <li class="col-md-6 col-lg-3">
            <div class="text-center">
              <img src="./../assets/images/home-section2-4.png" alt="關於鏡片" class="w-100px mb-4">
              <h3 class="fs-7 fw-bold text-secondary mb-2">關於鏡片</h3>
              <p class="text-start">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- 經典系列鏡框 -->
    <div class="container py-10 py-md-15">
      <h2 class="fs-7 fs-md-2 text-secondary text-center mb-6 mb-md-11">經典系列鏡框</h2>
      <ul class="row flex-column flex-lg-row align-items-center gy-6 gy-lg-0">
        <li class="col-md-6 col-lg-4">
          <img src="./../assets/images/home-section3-1.png" alt="經典系列鏡框-OPTICAL" class="img-fluid mb-2">
          <h3 class="fs-2 fw-black fst-italic text-primary text-center">OPTICAL</h3>
        </li>
        <li class="col-md-6 col-lg-4">
          <img src="./../assets/images/home-section3-2.png" alt="經典系列鏡框-SUNGLASSES" class="img-fluid mb-2">
          <h3 class="fs-2 fw-black fst-italic text-primary text-center">SUNGLASSES</h3>
        </li>
        <li class="col-md-6 col-lg-4">
          <img src="./../assets/images/home-section3-3.png" alt="經典系列鏡框-FUNCTIONAL" class="img-fluid mb-2">
          <h3 class="fs-2 fw-black fst-italic text-primary text-center">FUNCTIONAL</h3>
        </li>
      </ul>
    </div>

    <!-- 聯名設計鏡框 -->
    <div class="design">
      <div class="container py-10 py-md-15">
        <h2 class="fs-7 fs-md-2 text-white text-center mb-6 mb-md-11">聯名設計鏡框</h2>
        <ul class="d-flex flex-column flex-lg-row">
          <li class="w-100 mb-6 mb-lg-0">
            <div class="design-pic design-pic-1"></div>
            <h3 class="fs-2 fw-black fst-italic text-primary bg-white text-center border py-2">DOUBLE A+</h3>
          </li>
          <li class="w-100">
            <div class="design-pic design-pic-2"></div>
            <h3 class="fs-2 fw-black fst-italic text-primary bg-white text-center border py-2">YOUTH</h3>
          </li>
        </ul>
      </div>
    </div>

    <!-- 顧客推薦 -->
    <div class="recommandation container py-10 py-md-15">
      <h2 class="fs-7 fs-md-2 text-secondary text-center mb-6 mb-md-11">顧客推薦</h2>
      <ul class="row gy-4 gy-md-6 gy-lg-0">
        <li class="col-md-6 col-lg-3">
          <div class="card rounded-1 shadow">
            <img src="./../assets/images/home-section5-1.png" alt="顧客推薦-Jessy" class="card-img-top">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <p class="fw-medium mb-2">Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <time class="fs-11 text-muted">2021/06/20</time>
            </div>
          </div>
        </li>
        <li class="col-md-6 col-lg-3">
          <div class="card rounded-1 shadow">
            <img src="./../assets/images/home-section5-2.png" alt="顧客推薦-凱倫" class="card-img-top">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <p class="fw-medium mb-2">凱倫</p>
                <p>做工細緻、鏡架很輕盈，戴久也不會覺得有負擔，推薦給大家！</p>
              </div>
              <time class="fs-11 text-muted">2021/04/18</time>
            </div>
          </div>
        </li>
        <li class="col-md-6 col-lg-3">
          <div class="card rounded-1 shadow">
            <img src="./../assets/images/home-section5-3.png" alt="顧客推薦-悠悠" class="card-img-top">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <p class="fw-medium mb-2">悠悠</p>
                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              </div>
              <time class="fs-11 text-muted">2020/12/25</time>
            </div>
          </div>
        </li>
        <li class="col-md-6 col-lg-3">
          <div class="card rounded-1 shadow">
            <img src="./../assets/images/home-section5-4.png" alt="顧客推薦-Kyuan" class="card-img-top">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <p class="fw-medium mb-2">Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <time class="fs-11 text-muted">2020/10/31</time>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- 聯絡我們 -->
    <div class="bg-pink">
      <div class="container py-10 py-md-15">
        <h2 class="fs-7 fs-md-2 text-secondary text-center mb-6 mb-lg-11">聯絡我們</h2>
        <div class="row justify-content-center mb-6">
          <div class="col-md-10 col-lg-6">
            <p class="">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          </div>
        </div>
        <form>
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6">
              <div class="mb-4">
                <label for="name" class="form-label">姓名</label>
                <input type="text" name="name" id="name" class="form-control bg-transparent" placeholder="陳小明">
              </div>
              <div class="mb-4">
                <label for="phone" class="form-label">聯絡電話</label>
                <input type="text" name="phone" id="phone" class="form-control bg-transparent" placeholder="0912-345-678">
              </div>
              <div class="mb-4">
                <label for="email" class="form-label">電子郵件</label>
                <input type="email" name="email" id="email" class="form-control bg-transparent" placeholder="example@email.com">
              </div>
              <div class="mb-4">
                <label for="suggestion" class="form-label">意見反應</label>
                <textarea name="suggestion" id="suggestion" class="form-control bg-transparent" rows="5" placeholder="請輸入您的意見"></textarea>
              </div>
              <div class="d-flex mb-6 mb-md-11">
                <input type="checkbox" class="form-check-input flex-shrink-0 me-1" name="agree" id="agree">
                <label for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
              <button type="submit" class="btn btn-primary w-100 py-4">確認送出</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
