<ul class="pagination justify-content-center">
  <li class="page-item"><a class="page-link page-link-prev" href="#">上一頁</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><span class="page-link active">2</span></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">4</a></li>
  <li class="page-item"><a class="page-link" href="#">5</a></li>
  <li class="page-item"><a class="page-link page-link-next" href="#">下一頁</a></li>
</ul>
