<div>
  <a href="#" class="d-block link-hover-underline">
    <img src="./../assets/images/<%=img%>.png" alt="<%=img%>" class="img-fluid">
  </a>
  <div class="d-flex justify-content-between fs-7">
    <span class="">BJ41600S</span>
    <span class="fw-medium text-primary">NTD3,490</span>
  </div>
  <div class="d-flex">
    <a href="#" class="color-selector color-selector-1 me-2"></a>
    <a href="#" class="color-selector color-selector-2"></a>
  </div>
</div>
