<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>高雄夢時代店 | 眼鏡官網</title>
    <%- include('./layout/stylesheets'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <%- include('./pages/store', {name: '高雄夢時代店', address: '高雄市前鎮區中華一路 63 號 6 樓', phone: '(07)000-1234', img: 'store-5.png'}); -%>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
