<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台北中山旗艦店 | 眼鏡官網</title>
    <%- include('./layout/stylesheets'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <%- include('./pages/store', {name: '台北中山旗艦店', address: '台北市中山區南京東路25巷2-1號', phone: '(02)000-1234', img: 'store-1.png'}); -%>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
