<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>門市據點 | 眼鏡官網</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="container pt-10 pt-md-14 pt-lg-15 pb-13 pb-md-14">
      <h2 class="fs-7 fs-md-2 mb-6 mb-md-8 ps-4 border-start border-8 border-primary">門市據點</h2>
      <div class="row mb-6 mb-md-10">
        <div class="col-md-7 col-lg-4">
          <div class="d-flex align-items-center">
            <label for="countrySelector" class="flex-shrink-0 fs-md-7 me-2 me-md-4">選擇地區</label>
            <select name="country" id="countrySelector" class="form-select text-dark border">
              <option value="台北市">台北市</option>
              <option value="台中市">台中市</option>
              <option value="高雄市">高雄市</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-6 mb-lg-11">
          <div class="card">
            <img src="./../assets/images/store-1.png" alt="台北中山旗艦店" class="card-img-top">
            <div class="list-group list-group-flush">
              <h3 class="list-group-item fs-7 fw-normal text-center py-2 px-6">台北中山旗艦店</h3>
              <ul class="list-group-item fs-8 py-4 px-6">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">call</span>
                  <a href="tel:000-1234" class="link-black">電話：(02)000-1234</a>
                </li>
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex">
                  <span class="material-icons-outlined mt-1 me-2">place</span>
                  <p>地址：台北市中山區南京東路25巷2-1號</p>
                </li>
              </ul>
            </div>
            <a href="store-1.html" class="btn btn-black py-4">詳細資訊</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-6 mb-lg-11">
          <div class="card">
            <img src="./../assets/images/store-2.png" alt="台北綠園店" class="card-img-top">
            <div class="list-group list-group-flush">
              <h3 class="list-group-item fs-7 fw-normal text-center py-2 px-6">台北綠園店</h3>
              <ul class="list-group-item fs-8 py-4 px-6">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">call</span>
                  <a href="tel:000-2345" class="link-black">電話：(02)000-2345</a>
                </li>
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex">
                  <span class="material-icons-outlined mt-1 me-2">place</span>
                  <p>地址：台北市中正區復興南路 132-1 號</p>
                </li>
              </ul>
            </div>
            <a href="store-2.html" class="btn btn-black py-4">詳細資訊</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-6 mb-lg-11">
          <div class="card">
            <img src="./../assets/images/store-3.png" alt="台中清水旗艦店" class="card-img-top">
            <div class="list-group list-group-flush">
              <h3 class="list-group-item fs-7 fw-normal text-center py-2 px-6">台中清水旗艦店</h3>
              <ul class="list-group-item fs-8 py-4 px-6">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">call</span>
                  <a href="tel:000-1234" class="link-black">電話：(02)000-1234</a>
                </li>
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex">
                  <span class="material-icons-outlined mt-1 me-2">place</span>
                  <p>地址：台中市清水區經南一路 23 號 8 樓</p>
                </li>
              </ul>
            </div>
            <a href="store-3.html" class="btn btn-black py-4">詳細資訊</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-6 mb-lg-0">
          <div class="card">
            <img src="./../assets/images/store-4.png" alt="高雄中正形象店" class="card-img-top">
            <div class="list-group list-group-flush">
              <h3 class="list-group-item fs-7 fw-normal text-center py-2 px-6">高雄中正形象店</h3>
              <ul class="list-group-item fs-8 py-4 px-6">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">call</span>
                  <a href="tel:000-2345" class="link-black">電話：(07)000-2345</a>
                </li>
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex">
                  <span class="material-icons-outlined mt-1 me-2">place</span>
                  <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                </li>
              </ul>
            </div>
            <a href="store-4.html" class="btn btn-black py-4">詳細資訊</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img src="./../assets/images/store-1.png" alt="高雄夢時代店" class="card-img-top">
            <div class="list-group list-group-flush">
              <h3 class="list-group-item fs-7 fw-normal text-center py-2 px-6">高雄夢時代店</h3>
              <ul class="list-group-item fs-8 py-4 px-6">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">call</span>
                  <a href="tel:000-1234" class="link-black">電話：(07)000-1234</a>
                </li>
                <li class="d-flex align-items-center mb-2">
                  <span class="material-icons-outlined me-2">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex">
                  <span class="material-icons-outlined mt-1 me-2">place</span>
                  <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                </li>
              </ul>
            </div>
            <a href="store-5.html" class="btn btn-black py-4">詳細資訊</a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
